{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block body %}

    <center>
        <div class="filtercontainer">
            <h1>recipe search</h1>
            <form action="/recipes"> 
                <input type="text" placeholder="recipe name (e.g. blueberry pie)" aria-label="recipe" aria-describedby="search-button" name="recipe" onkeyup="validate(this)">
                <button id="search-button" type="submit" disabled>search</button> <br>
                
                allergies: <input type="text" placeholder="allergies (e.g. peanuts, almonds)" name="allergies"> <br>
                
                <label for="diet">diet options:</label>
                <select id="diet" name="diet">
                    <option value="">-</option>
                    <option value="vegetarian">vegetarian</option>
                    <option value="lacto-vegetarian">lacto-vegetarian</option>
                    <option value="ovo-vegetarian">ovo-vegetarian</option>
                    <option value="vegan">vegan</option>
                    <option value="gluten free">gluten free</option>
                    <option value="ketogenic">ketogenic</option>
                    <option value="pescetarian">pescetarian</option>
                    <option value="paleo">paleo</option>
                    <option value="primal">primal</option>
                    <option value="whole30">whole30</option>
                </select>
            </form>
        </div>
    </center>

    <img src="{{url_for('static', filename='images/bigStockPhoto.png')}}" width="100%">


    <div class="row">
        <div class="col-10"><h2> Popular Recipes </h2></div>
        <div class="col-2">
            <button id="vegetarian-filter">vegetarian</button>
            <button id="vegan-filter">vegan</button>
        </div>
    </div>
    
    <!-- recipes with no diet restriction -->
    <div id="regular-recipes">
        <div class="row">
            {% for recipe in recipes[0:4] %}
            <div class="col-3">
                <img src="https://spoonacular.com/recipeImages/{{recipe['id']}}-556x370.jpg" alt="..." width="70%"><br><br>
                <a href="/recipe?id={{recipe['id']}}">{{recipe['title']}}</a><br>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for recipe in recipes[4:8] %}
            <div class="col-3">
                <img src="https://spoonacular.com/recipeImages/{{recipe['id']}}-556x370.jpg" alt="..." width="70%"><br><br>
                <a href="/recipe?id={{recipe['id']}}">{{recipe['title']}}</a><br>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for recipe in recipes[8:12] %}
            <div class="col-3">
                <img src="https://spoonacular.com/recipeImages/{{recipe['id']}}-556x370.jpg" alt="..." width="70%"><br><br>
                <a href="/recipe?id={{recipe['id']}}">{{recipe['title']}}</a><br>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for recipe in recipes[12:16] %}
            <div class="col-3">
                <img src="https://spoonacular.com/recipeImages/{{recipe['id']}}-556x370.jpg" alt="..." width="70%"><br><br>
                <a href="/recipe?id={{recipe['id']}}">{{recipe['title']}}</a><br>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- vegetarian -->
    <div id="vegetarian-recipes">
        <div class="row">
            {% for recipe in vegetarian_recipes[0:4] %}
            <div class="col-3">
                <img src="https://spoonacular.com/recipeImages/{{recipe['id']}}-556x370.jpg" alt="..." width="70%"><br><br>
                <a href="/recipe?id={{recipe['id']}}">{{recipe['title']}}</a><br>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for recipe in vegetarian_recipes[4:8] %}
            <div class="col-3">
                <img src="https://spoonacular.com/recipeImages/{{recipe['id']}}-556x370.jpg" alt="..." width="70%"><br><br>
                <a href="/recipe?id={{recipe['id']}}">{{recipe['title']}}</a><br>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for recipe in vegetarian_recipes[8:12] %}
            <div class="col-3">
                <img src="https://spoonacular.com/recipeImages/{{recipe['id']}}-556x370.jpg" alt="..." width="70%"><br><br>
                <a href="/recipe?id={{recipe['id']}}">{{recipe['title']}}</a><br>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for recipe in vegetarian_recipes[12:16] %}
            <div class="col-3">
                <img src="https://spoonacular.com/recipeImages/{{recipe['id']}}-556x370.jpg" alt="..." width="70%"><br><br>
                <a href="/recipe?id={{recipe['id']}}">{{recipe['title']}}</a><br>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- vegan recipes -->
    <div id="vegan-recipes">
        <div class="row">
            {% for recipe in vegan_recipes[0:4] %}
            <div class="col-3">
                <img src="https://spoonacular.com/recipeImages/{{recipe['id']}}-556x370.jpg" alt="..." width="70%"><br><br>
                <a href="/recipe?id={{recipe['id']}}">{{recipe['title']}}</a><br>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for recipe in vegan_recipes[4:8] %}
            <div class="col-3">
                <img src="https://spoonacular.com/recipeImages/{{recipe['id']}}-556x370.jpg" alt="..." width="70%"><br><br>
                <a href="/recipe?id={{recipe['id']}}">{{recipe['title']}}</a><br>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for recipe in vegan_recipes[8:12] %}
            <div class="col-3">
                <img src="https://spoonacular.com/recipeImages/{{recipe['id']}}-556x370.jpg" alt="..." width="70%"><br><br>
                <a href="/recipe?id={{recipe['id']}}">{{recipe['title']}}</a><br>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for recipe in vegan_recipes[12:16] %}
            <div class="col-3">
                <img src="https://spoonacular.com/recipeImages/{{recipe['id']}}-556x370.jpg" alt="..." width="70%"><br><br>
                <a href="/recipe?id={{recipe['id']}}">{{recipe['title']}}</a><br>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function validate(input) {
            const button = document.getElementById('search-button'); 
            if (input.value != "") {
                button.disabled = false;
            } else {
                button.disabled = true; 
            }
        }

        $( "#vegetarian-filter" ).click(function() {
            $( "#vegetarian-recipes" ).show();
            $( "#regular-recipes" ).hide();
            $( "#vegan-recipes" ).hide();
        });

        $( "#vegan-filter" ).click(function() {
            $( "#vegan-recipes" ).show();
            $( "#regular-recipes" ).hide();
            $( "#vegetarian-recipes" ).hide();
        });
    </script>
    
{% endblock %}