{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block body %}

<br><br>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {{ messages[0] }}
{% endif %}
{% endwith %}

<center><h2>Login</h2></center>
<div class="logsign">
    <form method="POST" action="/login">
        <div class="containerlog">
            <div class=logsignlogo>
                <img src="{{url_for('static', filename='images/LOGO.png')}}" width="20%">
            </div>
            <label for="email"><b>Username</b></label><br>
            <input type="email" name="email" placeholder="Email (e.g. john@example.com)">
            <br>
            <label for="psw"><b>Password</b></label><br>
            <input type="password" name="psw" placeholder="Password">
            <br>
            <label> <input type="checkbox"> Remember me </label>
            <br>
            <div class="logsignbtn">
                <button type="submit">Login</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}