{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block body %}

<h1>Profile</h1>
<h2>welcome, {{ current_user.name }}</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {{ messages[0] }}
{% endif %}
{% endwith %}

<p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>

<div class="row">
    <h3>Saved Recipes</h3>
    <p>   
        {% for obj in current_user.saved_recipes %}
            
            <div class="col-3">
                <a href="/recipe?id={{obj}}"><img src="https://spoonacular.com/recipeImages/{{obj}}-556x370.jpg" alt="..."></a><br>
                <p><a href="/recipe?id={{obj}}">Recipe Number {{obj}}</a></p>
            </div>
        {% endfor %}
    </p>
</div>

{% endblock %}