{% extends 'base.html' %}
{% block title %} results {% endblock %}
{% block body %}

<h5> Recipes <h5>

<div class="recipeList">
    <div class="row">
        <div class="col-med-12">
            <h1><u>recipe search</u></h1>
            <form action="/recipes"> 
                <input type="text" placeholder="recipe name (e.g. blueberry pie)" aria-label="recipe" aria-describedby="search-button" name="recipe" onkeyup="validate(this)">
                <button id="search-button" type="submit">search</button> <br>
                
                allergies: <input type="text" placeholder="allergies (e.g. peanuts, almonds)" name="allergies"> <br>
                
                <label for="diet">diet options:</label>
                <select id="diet" name="diet">
                    <option value="">-</option>
                    <option value="vegetarian">vegetarian</option>
                    <option value="lacto-vegetarian">lacto-vegetarian</option>
                    <option value="ovo-vegetarian">ovo-vegetarian</option>
                    <option value="vegan">vegan</option>
                    <option value="gluten free">gluten free</option>
                    <option value="ketogenic">ketogenic</option>
                    <option value="pescetarian">pescetarian</option>
                    <option value="paleo">paleo</option>
                    <option value="primal">primal</option>
                    <option value="whole30">whole30</option>
                </select>
            </form>
        </div>
    </div>

    <div class="row">
        {% for recipe in recipes %}
        <div class="col-9">
            <p>
                <a href="/recipe?id={{recipe['id']}}"><u>{{recipe['title']}}</u></a> <br>
                {{summaries[loop.index - 1] | safe}}
            </p>
        </div>
        <div class="col-3">
            <a href="/recipe?id={{recipe['id']}}"><img src="https://spoonacular.com/recipeImages/{{recipe['id']}}-556x370.jpg" alt="..." width="80%""></a></div>
        {% endfor %}
    </div>
</div>
      
{% endblock %}  