{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block body %}
<br><br>
<center><h2>Sign Up</h2></center>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {{ messages[0] }}. Log in <a href="{{ url_for('auth.login') }}">here</a>. 
{% endif %}
{% endwith %}

<div class="logsign"> 
    <form method="POST" action="/signup">
        <div class="containerlog">
            <div class=logsignlogo>
                <img src="{{url_for('static', filename='images/LOGO.png')}}">
            </div>
            <label for="email"><b>Username</b></label><br>
            <input type="email" name="email" placeholder="Your email (e.g. john@example.com)">
            <br>
            <label for="name"><b>Name</b></label><br>
            <input type="name" name="name" placeholder="Your name (e.g. John Doe)">
            <br>
            <label for="password"><b>Password</b></label><br>
            <input type="password" name="password" placeholder="Your Password">
            <br>
            <label> <input type="checkbox"> Remember me </label>
            <br>
            <center>
            <div class="logsignbtn">
                <button type="submit">Sign Up</button>
            </div>
            </center>
        </div>
    </form>
</div>

{% endblock %}