<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        {% block header %}
            <header>
                
                <div class="nav">
                    <!-- <img class="logo" src="#" alt="logo"> -->
                    <a href="/">Holiday Cooking</a>
                    <a href="/"> Vegan </a>
                    <a href="/"> Vegetarian </a>
                    <a href="/"> Keto </a>
                    <div class="dropdown">
                        <button class="dropbutton"> Account 
                            <i class="fa fa-carat-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="/Login">Log in</a>
                            <a href="/Signup">Sign up</a>
                        </div>
                    </div>
                </div>
                <!-- <img src="#" alt="description" /> -->
            </header>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
            <footer>
            </footer>
        {% endblock %}
    </body>
</html>
