{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block body %} 
    <form action="/recipes"> 
        <input type="text" placeholder="recipe name (e.g. blueberry pie)" aria-label="ingredients" aria-describedby="search-button" name="ingredients">
        <button id="search-button" type="submit">search</button> 
    </form>

    <!-- 
    <h2>Popular Recipes</h2>
        <div class="newRow">
            <div class="col-1-3 specials">
                <img src="#" alt="" />
                <h1>Pizza</h1>
                <p>description</p>
            </div>

            <div class="col-1-3 specials">
                <img src="#" alt="" />
                <h1>Steak</h1>
                <p>description....</p>
            </div>

            <div class="col-1-3 specials">
                <img src="#" alt="" />
                <h1>Burger</h1>
                <p>description</p>
            </div> 
        </div>
    -->

    <h1>random recipes</h1>
    <ul>
        {% for recipe in recipes %}
            <img src="https://spoonacular.com/recipeImages/{{recipe['id']}}-556x370.jpg" alt="..." width="20%" height="20%">
            <li>
                <a href="/recipe?id={{recipe['id']}}">{{recipe['title']}}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}