{% extends 'base.html' %}
{% block title %} Sign up {% endblock %}

{% block body %} 
<form action="#" method= "post"> 
    <p>Name:</p>
    <p><input type="text" name="name" placeholder="Enter your Name" value="name"/> </p>
    <p>Enter an Email:</p>
	<p></p><input type="email" email="email" placeholder="Enter Email" value="email"/></p>
	<p>Create a Password:</p>
	<p><input type="password" password="password" placeholder="Enter Password" value="password"/></p>
	<p><input type="submit" value="Submit"/></p>
</form>
{% endblock %}