body {
    font-family: 'Courier New', Courier, monospace;
    margin:0px;
}
nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%
}

/* styling recipe page */
.column {
    float: left;
    padding: 30px;
  }
.left {
    width: 30%;
} 
.right {
    width: 70%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }