body {
    font-family: 'helvetica';
    margin:0px;
    background-color:aliceblue;
    font-size: 15px;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:link:hover{
    color: grey;
}

/* styling navbar*/
.logoimg {
    padding: 18px;
    width: 12%;  
}
.nav {
    height: 10%;
    width: 100%; 
    overflow: hidden;
    background-color:darksalmon;
    position: fixed;
    top: 0;
}
.nav a {
    font-family:'helvetica';
    float: right;
    font-size: 23px;
    font-weight: bolder;
    color: white;
    margin:auto;
    width: 26%;
    text-decoration: none;
}

/* Styling Homepage*/
.filtercontainer {
    background-color: bisque;
}
.col-3 {
    padding: 10px 20px;
}

/*Styling Recipe List Page*/
h5 {
    text-align:left;
    font-size:50px;
    font-family:monospace
}
.row {
    padding-top: 50px;
}
.recipeList {
    font-family: tahoma;
    text-align: left;
    font-size:15px;
    line-height: 1.7;
}
.col-sm-9 {
    font-family: tahoma;
    text-align: left;
    font-size:15px;
    padding-right:100px;
    padding-bottom: 30px;
}
.col-sm-3 {
    padding-bottom:30px;
}

/* styling login/Signup Page*/
.logsign form {
    border: 3px solid #f1f1f1;
    background-color:#C4C4C4;
    width: 50%;
    margin:auto;
}
.containerlog {
    padding: 20px 90px;
    background-color: #C4C4C4;
}
.logsignlogo {
    margin:auto;
    padding-bottom: 15px;
}
input[type=email], input[type=password], input[type=name] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.logsignbtn button {
    background-color: #57616b;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border:none;
    cursor: pointer;
}
button:hover {
    opacity:.8;
}

/* styling recipe page */
.column {
    float: left;
    padding-top: 2%;
    padding-left: 5%;
}

.column.left {
    width: 30%;
}
.column.right {
    width: 70%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}