body {
    font-family: 'Montserrat';
    margin:0px;
    background-color: #f8f8ff;
    font-size: 15px;
    text-align: center;
}

/* styling navbar*/
.logoimg {
    padding: 20px 30px;
}
.nav {
    width: 100%; 
    overflow: hidden;
    background-color: #38D4DE;
    position: fixed;
    top: 0;
}
.nav a {
    font-family:'helvetica';
    float: right;
    font-size: 25px;
    font-weight: bolder;
    color: darksalmon;
    padding: 25px;
    width: 20%;
    text-decoration: none;
}
.navbar a:hover{
    background-color: red;
}

/* styling login/Signup Page*/
.logsign form {
    border: 3px solid #f1f1f1;
    background-color:#C4C4C4;
    width: 50%;
    margin:auto;
}
.containerlog{
    padding: 20px 90px;
    background-color: #C4C4C4;
}
.logsignlogo {
    margin:auto;
    padding-bottom: 10px;
}
input[type=email], input[type=password], input[type=name] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.logsignbtn button {
    background-color: #57616b;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border:none;
    cursor: pointer;
}
button:hover {
    opacity:.8;
}
.container {
    padding: 16px;
}

/* styling recipe page */
.column {
    float: left;
    padding-top: 5%;
    padding-left: 5%;
}

.column.left {
    width: 30%;
}
.column.right {
    width: 70%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}