body {
    font-family: tahoma;
    margin:0px;
    background-color: antiquewhite;
    font-size: 15px;
}
h1, h2, h3, h5, h6 {
    font-family: tahoma;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:link:hover {
    color: grey;
}

/* styling navbar*/
.logoimg {
    padding: 18px;
    width: 7%;  
}
.nav {
    height:7%;
    width: 100%; 
    overflow: hidden;
    background-color:darksalmon;
    position: fixed;
    top: 0;
}
.nav a {
    font-family:'helvetica';
    float: right;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    margin: auto;
    width: 31%;
    text-decoration: none;
}

/* Styling Homepage*/
.input-form {
    padding-top:3%;
    height: 380px;
}
.input-form input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.input-form select[id=diet] {
    font-family:'helvetica';
    width: 20%;
    padding: 2px 10px;
    display: inline-block;
}
.input-form button{
    color: black;
    fill: antiquewhite;
    width: 8%;
    font-size: 18px;
    opacity: .9;
}
.input-form::after {
    content:"";
    background-image: url("../images/bigStockPhoto.jpg");
    background-size: cover;
    height: 380px;
    opacity: .4;
    top:0;
    left: 0;
    right: 0;
    position: absolute;
    z-index:-1;
}
.col-3 {
    padding: 10px 20px;
}
.col-3 img{
    width:90%;
    padding-bottom: 5px;
}
.col-3 a {
    margin: auto;
}

/*Styling Recipe List Page*/
h5 {
    text-align:left;
    font-size:50px;
    font-family:tahoma;
    padding-top: 5px;
}

.col-med-12 {
    text-align: right;
    font-size: 12px;
    text-decoration: none;
    padding-bottom: 1%;
}
.col-med-12 input[type=text] {
    width: 14%;
    font-size: 12px;
}
.col-med-12 button {
    width: 5%;
}
.recipeList {
    font-family: tahoma;
    text-align: left;
    font-size:15px;
    line-height: 1.7;
}
.recipeList .col-3{
    text-align:right;
}

/* styling recipe page */
.recipe .row {
    float: left;
    padding-top: 2%;
    padding-left: 5%;
}
.recipe .col-4 {
    padding-right: 2%;
}
.recipe h3 {
    font-family: tahoma;
}

/* styling login/Signup Page*/
.fullsize-login {
    width: 100%; 
    height: 100%; 
}
.logsign form {
    border: 3px solid #f1f1f1;
    background-color:#C4C4C4;
    width: 50%;
    margin:auto;
}
.containerlog {
    padding: 20px 90px;
    background-color: #C4C4C4;
}
.logsignlogo img {
    width: 20%;
}
.logsignlogo {
    padding-bottom: 15px;
    padding-left: 45%;
}
input[type=email], input[type=password], input[type=name] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.logsignbtn button {
    background-color: #57616b;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border:none;
    cursor: pointer;
}
button:hover {
    opacity:.8;
}
.container {
    padding: 16px;
}

/*Styling Footer*/
footer {
    color: black;   
    background-color:darksalmon	; 
    -moz-column-width: 200px;
    -webkit-column-width: 200px;
    column-width: 200px;
    -moz-column-gap: 25px;
    -webkit-column-gap: 25px;
    column-gap: 25px;
    padding: 30px 40px;
}
footer h1 {
    text-align: center;
    color: white;  
    font-size: 1em;
    margin: 10px 0px;
}
footer h1:first-of-type {
    margin-top: 0px;
}
footer a {
    text-align: center;
    display: block;
    color: black;
    text-decoration: none;
    font-size: 0.9em;
}
footer a:hover {
    text-decoration: underline;
}
footer address {
    text-align: center;
    margin-top: 30px;
    font-style: normal;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
