body {
    font-family: 'helvetica';
    margin:0px;
    background-color:aliceblue;
    font-size: 15px;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}
a:link:hover {
    color: grey;
}

/* styling navbar*/
.logoimg {
    padding: 18px;
    width: 7%;  
}
.nav {
    height:7%;
    width: 100%; 
    overflow: hidden;
    background-color:darksalmon;
    position: fixed;
    top: 0;
}
.nav a {
    font-family:'helvetica';
    float: right;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    padding: 25px;
    width: 20%;
    text-decoration: none;
}

/* Styling Homepage*/
.input-form {
    background-image: url("../images/bigStockPhoto.jpg");
    background-size: cover;
    height: 350px;
    opacity: 0.8;
}
.search{
    text-align:right;
    font-size:10px;
    text-decoration:underline;
    position:absolute;
    padding-left:940px;
    top:110px;
}
.col-3 {
    padding: 10px 20px;
}
.col-3 img{
    width:70%;
    padding-bottom: 5px;
}

/*Styling Recipe List Page*/
h5 {
    text-align:left;
    font-size:50px;
    font-family:monospace
}
.row {
    padding-top: 50px;
}
.recipeList {
    font-family: tahoma;
    text-align: left;
    font-size:15px;
    line-height: 1.7;
}
.col-sm-9 {
    font-family: tahoma;
    text-align: left;
    font-size:15px;
    padding-right:100px;
    padding-bottom: 30px;
}
.col-sm-3 {
    padding-bottom:30px;
}

/* styling login/Signup Page*/
.logsign form {
    border: 3px solid #f1f1f1;
    background-color:#C4C4C4;
    width: 50%;
    margin:auto;
}
.containerlog {
    padding: 20px 90px;
    background-color: #C4C4C4;
}
.logsignlogo img {
    width: 20%;
}
.logsignlogo {
    padding-bottom: 15px;
    padding-left: 45%;
}
input[type=email], input[type=password], input[type=name] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.logsignbtn button {
    background-color: #57616b;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border:none;
    cursor: pointer;
}
button:hover {
    opacity:.8;
}
.container {
    padding: 16px;
}

/* styling recipe page */
.column {
    float: left;
    padding-top: 2%;
    padding-left: 5%;
}

.column.left {
    width: 30%;
}
.column.right {
    width: 70%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}