body {
    font-family: 'Castoro', serif;
    margin:0px;
    background-color: #f8f8ff;
    font-size: 18px;
}

/* styling navbar*/
.nav {
    width: 100%; 
    overflow: hidden;
    background-color: #38D4DE;
    position: fixed;
    top: 0;
}
.nav a {
    font-family:'Courier New', Courier, monospace;
    float: right;
    font-size: 22px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    width: 25%;
    text-decoration: none;
}
.navbar a:hover{
    background-color: red;
}

/* styling login/Signup Page*/
.logsign form {
	border: 3px solid #f1f1f1;
    background-color:#C4C4C4;
    width: 50%;
    margin:auto;
}
.containerlog {
    padding: 90px 90px;
}
input[type=email], input[type=password], input[type=name] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.logsignbtn button {
    background-color: #57616b;
    color: white;
    padding: 14px 20px;
    margin-left: 40%;
    border: none;
    cursor: pointer;
}
button:hover {
opacity: 0.8;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* styling recipe page */
.column {
    float: left;
    padding-top: 5%;
    padding-left: 5%;
}
.column.left {
    width: 30%;
}
.column.right {
    width: 70%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}